@import './../../styles/sass/mixins.scss';
@import './../../styles/sass/vars.scss';

.wish {
    color: $textColorLight;
    @include text(14px, 400, 21px);
    max-width: 270px;

}

.mark {
    margin-right: 5px;
}

.greenWish {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 14px;
    @media screen and (min-width: 768px) {
        padding: 0;
    }

}