@import './../../../styles/sass/vars.scss';
@import './../../../styles/sass/mixins.scss';



    .container {
        @extend %container;
    }

    .footerTop {
        border-bottom: 0.5px solid $secondaryColor;
        padding-bottom: 24px;
        padding-top: 81px;
    }

    .topInner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .socials {
        width: 137px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mc {
        margin-right: 17px;
    }

    .footerBottomMob {
        @media screen and (min-width: 576px) {
            display: none;
        }
    }

    .footerBottomSmall {
        display: flex;
        justify-content: space-between;
        padding-top: 26px;
        
    }

    .language {
        display: flex;
        align-items: center;
    }

    .lan {
        margin-right: 6px;
        @include text(15px, 400, 18px); 
        color: $textColor;
    }
    
    .footerText {
        @include text(14px, 400, 27px); 
        color: $textColorLight;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 24px;
        @media screen and (min-width: 576px){
            padding: 17px 0;
        }
    }

    .footerBottom {
        display: none;
        
        @media screen and (min-width: 576px){
            display: block;
            background-color: #FAF9F8;
            background-size: cover;
            max-width: 100%;
        }
    }

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


