@import './../../../styles/sass/vars.scss';
@import './../../../styles/sass/mixins.scss';


    .container {
        @extend %container;
    }

    .table {
        border: 1px solid $secondaryColor;
        margin-bottom: 45px;
    }

    .title {
        @include text(26px, 400, 32px); 
        color: $textColor;
        padding: 40px 0;
        text-align: center;
        @media screen and (min-width: 768px) {
            @include text(20px, 500, 30px); 
            text-align: start;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 20px;
        border-bottom: 1px solid $secondaryColor;
        padding-bottom: 30px;
    }

    .date {
        text-align: center; 
        border-bottom: 1px solid $secondaryColor;
        padding: 20px 40px 16px;
        @include text(18px, 400, 26px); 
        color: $textColor;
        border-collapse: collapse;
        @media screen and (min-width: 576px) {
            text-align: start;
            display: flex;
            align-items: center;
            padding-left: 20px;
            
        }
    }

    .time {
        padding-top: 30px;
    }

    .cost {
        padding: 10px 0;
    }

    .rest {
        padding-bottom: 20px;
    }

    .groupcup {
        padding-left: 20px;
    }

    .linkCalk {
        display: none;
        @media screen and (min-width: 576px) {
           padding: 0;
            display: block;
        }
        
        .calend {
            @media screen and (min-width: 576px) {
           padding-left: 14px;
        }
    }

    
    
    }
    .photographerInfo {
        display: flex;
            justify-content: space-between;
        @media screen and (min-width: 576px) {
            
            align-items: center;
        }
    }