@import './../../styles/sass/vars.scss';
@import './../../styles/sass/mixins.scss';



.cap {
    margin-right: 12px;
    width: 37px;
    height: 41px;
}
.reviews {
    display: flex;
    align-items: center;
    // border-top: 0.5px solid #C7C7C7;
    // border-bottom: 0.5px solid #C7C7C7;
    // width: 290px;
    padding: 14px 0;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: flex-end;

    }

    
}
// .reviews::after {
//     content: "";
//     display: block;
//     position: absolute;
//     width: 290px;
//     height: 0.5px;
//     background: $secondaryColor;
//     bottom: -4px;
// }
// .reviews::before {
//     content: "";
//     display: block;
//     position: absolute;
//     width: 290px;
//     height: 0.5px;
//     background: $secondaryColor;
//     bottom: 40px;
// }
.rating {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;

    }
}

.reviewsText {
    padding-bottom: 6px;
    @include text(14px, 400, 20px); 
    color: $textColor;
    @media screen and (min-width: 768px) {
        margin-right: 15px;
    }
}

