@import './../../styles/sass/mixins.scss';
@import './../../styles/sass/vars.scss';


.container {
    @extend %container;
}

.title {
    color: $textColor;
    @include text(26px, 400, 40px);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
        @include text(20px, 500, 30px);
        text-align: start;
        }
}

.moreReviewsRight {
    display: block;
    text-align: center;
    color: $linkColor;
    @include text(17px, 500, 25px);
    margin-top: 40px;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.arrow {
    margin: 0 7px;
}

.moreReviewsBottom {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        color: $linkColor;
        @include text(17px, 500, 25px);
        padding-top: 40px;
        text-align: center;
    }

}