.map {
    width: 1553px;
    height: 423px;
    max-width: 100%;
    background-image: url(./../../assets/img/map.png);
    background-size: cover;
    background-position: 57%, 50%;
    background-repeat: no-repeat;
}