.map {
    width: 1553px;
    height: 423px;
    background-image: url(./../../assets/img/map.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}